body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  flex-shrink: 0;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.adress {
  font-style: normal;
}

.text {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #434455;
}

.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

/* header  */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  padding: 16px 0;
}

.logo-part {
  color: #2e2f42;
}

.header .container .link {
  display: block;
}

.nav {
  display: flex;
  align-items: center;
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

.nav-list {
  display: none;
}

.adress {
  display: none;
}

/* mobile-menu  */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  top: 24px;
  right: 24px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-list .link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-adress {
  margin-bottom: 50px;
}

.mobile-menu-adress-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mobile-menu-adress-list .link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-nav-list .link:hover,
.mobile-menu-nav-list .link:focus,
.mobile-menu-adress-list .link:hover,
.mobile-menu-adress-list .link:focus {
  color: #404bbf;
}

.mobile-menu-social-media-list {
  display: flex;
  gap: 40px;
}
/* section Title */

.hero {
  min-height: 422px;
  min-width: 320px;
  padding: 72px 0;

  display: flex;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Background-image/hero-bg-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Background-image/hero-bg-mob2x.jpg);
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  min-width: 216px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.title-button {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;

  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}

/* section Benefits */

.benefits {
  padding: 96px 0;
}

.benefits .container .list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits .container .list .list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits .container .list .list-item .subsection-title {
  margin-bottom: 8px;
}

.banefits-list-item-icon-container {
  display: none;
}

.subsection-title {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* section Our Team */

.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.our-team .container .section-title {
  margin-bottom: 72px;
}

.our-team-container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.our-team .list .list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  max-width: 264px;
  height: 428px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.our-team-list-list-item-persona-info {
  padding: 32px 0;
}

.our-team .list .subsection-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}

.our-team .list .text {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-list-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-social-media {
  fill: #f4f4fd;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

/* section Our Portfolio */

.our-portfolio {
  padding: 96px 0;
}

.our-portfolio .container .section-title {
  margin-bottom: 72px;
}

.our-portfolio .container .our-portfolio-container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.our-portfolio .app-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio .app-info .subsection-title {
  margin-bottom: 8px;
}

.our-portfolio-container-list .list-item .overlay .text {
  display: none;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 72px;
}

.footer-logo-text-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-logo-text-container .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text-container .text,
.footer-logo-text-container .logo-part {
  color: #f4f4fd;
}

.footer-logo-text-container .text {
  width: 100%;
}

.footer-social-media-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.footer-social-media-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-social-media-container .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-list .social-media-link:hover,
.footer-social-media-list .social-media-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-subscribe-panel .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-input::placeholder {
  color: #fff;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.footer-button .icon-svg {
  fill: #fff;
  margin-left: 16px;
}

.footer-button:hover {
  background-color: #404bbf;
}

/* backdrop */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  top: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-field-check {
  margin-bottom: 24px;
}

.modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  top: 24px;
  right: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .close-svg,
.modal-close-button:focus .close-svg {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding: 11px 34px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-user-comment {
  display: block;
  padding: 8px 16px;
  width: 256px;
  min-height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
}

.modal-user-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-user-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.modal-button {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;

  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  margin-right: 8px;

  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .modal-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-check-text-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

/* for tablets */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /* header */
  .burger-button {
    display: none;
  }

  .header .logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    margin-right: auto;
  }

  .nav-list .link.current {
    position: relative;
  }

  .nav-list .link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background: #404bbf;
  }

  .nav .nav-list .link {
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adress {
    display: flex;
    align-items: center;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .adress-list .link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list .link:hover,
  .list .link:focus,
  .adress .list .link:hover,
  .adress .list .link:focus,
  .nav-list .link.current {
    color: #404bbf;
  }

  /* Title */
  .hero {
    min-height: 436px;
    min-width: 768px;
    padding: 112px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Background-image/hero-bg-tab.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Background-image/hero-bg-tab2x.jpg);
    }
  }

  .title {
    font-weight: 700;
    font-size: 56px;
    min-width: 496px;

    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  /* Benefits */
  .benefits .container .list {
    gap: 24px;
  }

  .benefits .container .list .list-item {
    flex-basis: calc((100% - 24px) / 2);
    align-items: normal;
  }

  /* Our-team */

  .our-team-container-list .list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* Our portfolio */
  .our-portfolio .container .our-portfolio-container-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .our-portfolio-container-list .list-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 356px;
  }

  /* footer */
  .footer .container {
    column-gap: 24px;
    row-gap: 72px;
  }

  .footer-logo-text-container {
    justify-content: flex-start;
    width: 264px;
  }

  .footer-social-media-container {
    align-items: start;
    margin: 0 0;
  }

  .footer-subscribe-panel {
    flex-direction: column;
  }

  /* backdrop */
  .modal {
    width: 408px;
    height: 584px;

    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input {
    width: 360px;
    height: 40px;
    padding: 11px 34px;
  }
}

/* for desctops */

@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
    padding: 0 15px;
  }

  /* header */
  .header .logo {
    margin-right: 76px;
  }

  .adress-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .adress-list .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* tittle */
  .hero {
    min-width: 1440px;
    min-height: 600px;
    padding: 188px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Background-image/hero-bg.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Background-image/hero-bg2x.jpg);
    }
  }

  .title {
    margin-bottom: 48px;
  }

  /* benefits */
  .benefits {
    padding: 120px 0;
  }

  .benefits .container .list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .banefits-list-item-icon-container {
    display: flex;

    align-items: center;
    justify-content: center;

    background: #f4f4fd;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    max-width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }

  /* Our-team */
  .our-team {
    padding: 120px 0;
  }

  .our-team-container-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  /* Our portfolio */
  .our-portfolio {
    padding: 120px 0;
  }

  .our-portfolio .container .our-portfolio-container-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .our-portfolio-container-list .list-item {
    max-width: 360px;
  }

  .our-portfolio-container-list .list-item {
    position: relative;
    width: 100%;
  }

  .our-portfolio-container-list .list-item .overlay .text {
    display: block;
  }

  .our-portfolio-container-list .list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .our-portfolio-container-list .list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-portfolio .overlay {
    position: relative;
    overflow: hidden;
  }

  .our-portfolio .overlay .text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-portfolio .list-item:hover .overlay .text {
    transform: translateY(0);
  }

  /* footer */
  .footer {
    padding: 100px 0;
  }

  .footer .container {
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-logo-text-container {
    margin-right: 120px;
  }

  .footer-social-media-container {
    margin-right: 80px;
  }

  /* backdrop */
  .modal {
    width: 408px;
    min-height: 584px;

    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input {
    width: 360px;
    height: 40px;
    padding: 11px 38px;
  }

  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:focus + .modal-icon {
    fill: #4d5ae5;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
